<h1> All Songs</h1>
<% @songs.each do |song|%>
  <li>
    <%= link_to song.title, song %>
    <%= link_to "Edit" ,edit_song_path(song) %>
    <%= link_to "Delete", song_path(song),method: :delete %>
  </li>
  <% end %>
<%= link_to 'New Song', new_song_path %> <br>
<%= link_to 'Create New User', new_user_path %> 
